<h1>Existing Buttons</h1>

<table>
  
<% @buttons.each do |button| %>
  <tr>
  

    
    <td><%= link_to 'Preview', button %></td>
    <td><%= link_to 'Edit', edit_button_path(button) %></td>
    <td><%= link_to 'Destroy', button, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create a New Button', new_button_path %>
