<body>

<div class="span4"><center><br><br><br><div class="page-header"><center><br><h1>Welcome to Educate My Girl Coder App</div></h1>
<br>
  <a href="http://limitless-ocean-5518.herokuapp.com/buttons" class="btn btn-primary"><b>Create a Button</a></b> | <a href="http://limitless-ocean-5518.herokuapp.com/scaffolds" class="btn btn-success"><b>Create a Form</a></b>

</center>
</div>




