<div class="span5"><center><br><br><br><div class="page-header"><center><br><h1>Welcome 
	<% if user_signed_in? %>
	<%= current_user.first_name %>! 
	<% else %>
    <% end %>
	 <br>Educate My Girl Coder App</div></h1>
<br>
  <a href="http://limitless-ocean-5518.herokuapp.com/buttons/new" class="btn btn-primary">
  	<b>Create a Button</a></b> | <a href="http://limitless-ocean-5518.herokuapp.com/scaffolds/new" class="btn btn-success"><b>Create a Form</a></b><br>
  	 <a href="http://limitless-ocean-5518.herokuapp.com/textmarquees/new" class="btn btn-primary">
  	 	<b>Create a Text Marquee</a></b>

</center>
</div>




