<h1>New test</h1>
<button type="button" class="btn btn-default btn-lg">
  <img src="https://lh5.googleusercontent.com/FAT3ebEYTv9XUoFFujf1uIAFiV_1yi6_g7Abl1LpiGY=w180-h207-p-no"> Star
</button>
<%= render 'form' %>

<%= link_to 'Back', tests_path %>
