<!DOCTYPE html>
<html>
<head>
  <title>CodeRR</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<div class="navbar navbar-fixed-top">   
<div class="navbar-inner">    
<div class="container">
<br>

<img src="https://lh5.googleusercontent.com/FAT3ebEYTv9XUoFFujf1uIAFiV_1yi6_g7Abl1LpiGY=w180-h207-p-no" width="60" height=" 60" id="logo" class="box45">
<style>
.box45 {
   border-radius: 15px;
}
</style>
<title>CodeRR</title>
<b><font face="Curlz MT"><font size="6">Educate My Girl</font></font></b>
<ul class="nav pull-right">


 <a href="http://www.educatemygirl.org/" class="btn btn-primary">Our Cause</a>
 <a href="http://www.educatemygirl.org/support.html" target="_blank" class="btn">Support Us</a>
  
  <a href="contact.php" class="btn btn-primary" target="_blank">Contact Us</a>
 <a href="http://educatemygirl.org/socials/join" class="btn" target="_blank">Register</a>

<a href="http://www.educatemygirl.org/helpdesk.php" class="btn btn-primary">Helpdesk</a></ul>
</div></div></div>
</head>
<br><br><br>	

<%= yield %>


</html>
