<!DOCTYPE html>
<html>
<head>
  <title>CodeRR</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body><center><h2>
CodeRR App is Live! </h2>
<img src="https://lh5.googleusercontent.com/FAT3ebEYTv9XUoFFujf1uIAFiV_1yi6_g7Abl1LpiGY=w180-h207-p-no"><br>
<h3>Educate My Girl Program</h3>
<%= yield %>

</body>
</html>
